---
name: "tagged-release"

on:
  push:
    tags:
      - "v*-sunos"

jobs:
  tagged-release:
    name: "SunOS Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
          check-latest: true
        id: go

      - name: SunOS build script
        run: bash -x build.sh

      - name: Create Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            cmd/tailscaled/tailscale.xml
            sha256sums
            tailscaled-illumos
            tailscaled-solaris
